:root {
    --text: #d0d4fc;
    --bg: #1e293b;
    --btn-bg: #0f172a;
}

body {
    color: var(--text);
    background: var(--bg);
    font-family: "Nerko One", cursive;
    font-size: larger;
}
section {
    text-align: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    margin-bottom: 40px;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px var(--text);
    border: 2px solid var(--text);
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.restart-button {
    color: var(--text);
    background-color: var(--btn-bg);
    border: None;
    border-radius: 20px;
    width: 170px;
    height: 70px;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
}

.game-title {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
