<%- include('../partials/head') %>
<body class="ms-3 mt-3 w-50">
    <h1 class="mb-3"><%= title %></h1>
    <div class="mb-2"><b>Founded:</b> <%= creator.founded %></div>
    <div><b>Profile:</b> <%= creator.description %></div>
</body>
