.tab {
  background-color: white;
  color: black;
  padding: 14px 16px;
  border: none;
  outline: none;
  width: 30%;
  font-size: 18px;
}

.tab:hover {
  color: #CB7152
}

#content {
  background-image: url('./img/pastas.jpeg')
}